
<div>
    <h2><span translate="userscrudjhApp.myUser.detail.title">MyUser</span> {{myUser.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="userscrudjhApp.myUser.name">Name</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{myUser.name}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="userscrudjhApp.myUser.age">Age</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{myUser.age}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="userscrudjhApp.myUser.isAdmin">IsAdmin</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{myUser.isAdmin ? ( 'booleanFilterValues.yes' | translate) : ('booleanFilterValues.no' | translate)}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="userscrudjhApp.myUser.createdDate">CreatedDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{myUser.createdDate | date:'dd MMMM yyyy HH:mm'}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="myUser"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
