<div>

    <h2 translate="userscrudjhApp.myUser.home.title">MyUser</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label" translate="userscrudjhApp.myUser.name">Name</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" translate="userscrudjhApp.myUser.age">Age</label>
            <div class="col-sm-6">
                <input type="text"  name="name" class="form-control" ng-model="filter.age">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" translate="userscrudjhApp.myUser.isAdmin">Admin</label>
            <div class="col-sm-6">
                <select ng-model="filter.isAdmin" ng-options="item.value as ('booleanFilterValues.' + item.name)|translate for item in isAdminOptions" ng-change="log(filter)" class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" translate="userscrudjhApp.myUser.createdFrom">from</label>
            <div class="col-sm-6">
                <ng-bs3-datepicker data-ng-model='filter.createdFrom' language="ru" date-format="YYYY-MM-DD"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" translate="userscrudjhApp.myUser.createdTo">to</label>
            <div class="col-sm-6">
                <ng-bs3-datepicker data-ng-model='filter.createdTo' language="{{language}}" date-format="YYYY-MM-DD"/>
            </div>
        </div>


        <div class="form-group form-actions">
            <div class="col-sm-10">
            <button ng-click="refresh()" translate="entity.action.search" class="btn btn-success btn-lg">Search</button>
            </div>
        </div>
    </form>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveMyUserModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="userscrudjhApp.myUser.home.createLabel">Create a new MyUser</span>
    </button>
    <div class="modal fade" id="saveMyUserModal" tabindex="-1" role="dialog" aria-labelledby="myMyUserLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="userForm" class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength" ng-submit="create()" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myMyUserLabel" translate="userscrudjhApp.myUser.home.createOrEditLabel">Create or edit a MyUser</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="myUser.id" readonly>
                        </div>

                        <div class="form-group" ng-class="showErrors(userForm, 'name')?'has-error':''">
                            <label translate="userscrudjhApp.myUser.name">Name</label> *
                            <input type="text" class="form-control"
                                   ng-model="myUser.name" required="" name="name">
                            <div ng-show="showErrors(userForm, 'name')">
                                <span class="help-block text-danger" ng-show="userForm.name.$error.required" translate="userscrudjhApp.myUser.errorMessages.required.name">Please, fill user name</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="showErrors(userForm, 'age')?'has-error':''">
                            <label translate="userscrudjhApp.myUser.age">Age</label> *
                            <input type="text" name="age" class="form-control"
                                   ng-model="myUser.age" required integer min="1">
                            <div ng-show="showErrors(userForm, 'age')">
                                <span class="help-block text-danger" ng-show="userForm.age.$error.required" translate="userscrudjhApp.myUser.errorMessages.required.age">Please, fill user age</span>
                                <span class="help-block text-danger" ng-show="userForm.age.$error.integer" translate="userscrudjhApp.myUser.errorMessages.integer.age">Age should be a number</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="isAdmin" ng-model="myUser.isAdmin" ng-true-value="true" ng-false-value="false"> <label translate="userscrudjhApp.myUser.isAdmin" class="checkbox">IsAdmin</label>
                                </label>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteMyUserConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(myUser.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="userscrudjhApp.myUser.delete.question" translate-values="{id: '{{myUser.id}}'}">Are you sure you want to delete MyUser {{myUser.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" ng-table="tableParams">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="userscrudjhApp.myUser.name">Name</th>
                    <th translate="userscrudjhApp.myUser.age">Age</th>
                    <th translate="userscrudjhApp.myUser.isAdmin">IsAdmin</th>
                    <th translate="userscrudjhApp.myUser.createdDate">CreatedDate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="myUser in $data">
                    <td><a ui-sref="myUserDetails({id:myUser.id})">{{myUser.id}}</a></td>
                    <td>{{myUser.name}}</td>
                    <td>{{myUser.age}}</td>
                    <td>{{myUser.isAdmin ? ( 'booleanFilterValues.yes' | translate) : ('booleanFilterValues.no' | translate)}}</td>
                    <td>{{myUser.createdDate | date:'dd MMMM yyyy HH:mm'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="myUserDetail({id:myUser.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(myUser.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(myUser.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
